.priceFromTo {
	display: flex;
	gap: 16px;
}
.filter {
	display: flex;
	align-items: center;
	gap: 40px;
}
.priceFromTo p {
	display: flex;
	align-items: center;
	color: #282828;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
}
.priceFromTo input {
	display: flex;

	width: 112px;
	padding: 8px 16px;
	align-items: center;
	gap: 10px;
	border-radius: 6px;
	border: 1px solid #ddd;
}
.discountedItems {
	display: flex;
	gap: 16px;
	color: #282828;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	align-items: center;
}
.discountedItems input {
	width: 36px;
	height: 36px;
	border-radius: 6px;
	border: 1px solid #ddd;
}
.sorted {
	display: flex;
	gap: 16px;
	color:  #282828;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	align-items: center;
}
select {
	padding: 8px 16px;
	background-color: white;
	border: 1px solid rgb(220, 211, 211);
	border-radius: 6px;
}
