.btn {
	display: flex;
	width: 284px;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	gap: 10px;
border-bottom: rgba(51, 153, 51, 1);
  border-radius:  6px;
background:  #393;
cursor: pointer;

color:  #FFF;
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
}
.btn :hover{
  display: flex;
width: 284px;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
color:  #FFF;
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
}